<html>
	<head>
		<title> The Baller Button App </title>
		<!-- fonts -->
		<link href='http://fonts.googleapis.com/css?family=Arimo:400,700' rel='stylesheet' type='text/css'>
  		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>

		<!-- CSS -->
		<link href="css/default.css" rel='stylesheet' type="text/css">


		<!-- JS -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
		<script src="js/formController.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>

	</head>

	<body>
		<div class="header"> 
			<div class="header-title"> C:\Users\The Baller Button <br> </div>
			<div class="headerItems">
				<a href="index.html">Home</a>
				<a href="changeFunction.html">Change Function</a>
			</div>
		</div>

		<div class="form-container">

			<h1> Add new function </h1>
			<div ng-app="addForm" ng-controller="addController">
				<form ng-submit="addFunction()">
					<label>Function ID:</label>
					<input type="text" ng-model="buttonFunctionID"> </p>
					<label>Description:</label>
					<input type="text" ng-model="buttonFunctionDesc"> </p>
					<label>URL:</label> 
					<input type="text" ng-model="buttonFunctionURL"> </p>
					<label>Arguments:</label> 
					<input type="text" ng-model="buttonFunctionArgs"> </p>
					<input type="submit" value="Add to Baller Button"> </input>
				</form>
				

				<p>{{showURL()}}</p>
			</div>
			<img src="http://vignette1.wikia.nocookie.net/mortalkombat/images/b/b0/Ermaccombo_2.gif/revision/latest?cb=20120404182514&path-prefix=es" float="left">
			<img src="http://www.drdmkm.eu/joe/images/MK/MK%20Gifs/subzerogrdfrz.gif" class="right">
			<audio src="files/troll_slayer.mp3" loop></audio>
		</div>
	</body>
</html>